* {
    margin: 0;
    /*positioner la marge à 0*/
    padding: 0;
    /*positionner le bord à 0*/
    --main-color: #C31DA8;
    /*couleur du background*/
    /*--font-play:*/
    --main-font-text: "First School";
    /*Police d'écriture global du site*/
    --size-text: 8px;
    /*Taille général des textes*/
    --size-play: 2rem;
    /*Taille du texte des bouttons*/
    box-sizing: border-box;
}


body {
    background-color: var(--main-color);
    max-width: 800px;
    margin: auto;
}

.main-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    max-width: 100%;
}

.play-button {
    font-size: var(--size-play);
    padding: 2rem 2rem;
    border-radius: 20px;
    background-color: blueviolet;
    align-self: stretch;
    text-align: center;
    text-decoration: None;
    margin-top:7rem;
    color:white;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}