* {
    margin: 0;
    /*positioner la marge à 0*/
    padding: 0;
    /*positionner le bord à 0*/
    --main-color: #C31DA8;
    /*couleur du background*/
    /*--font-play:*/
    --main-font-text: "First School";
    /*Police d'écriture global du site*/
    --size-text: 8px;
    /*Taille général des textes*/
    --size-play: 2rem;
    /*Taille du texte des bouttons*/
    box-sizing: border-box;
}


body {

    max-width: 800px;
    margin: auto;
    background-size: 844px;
    background-repeat: no-repeat;
}


.main-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    max-width: 100%;
}

.play-button {
    font-size: var(--size-play);
    padding: 2rem 2rem;
    border-radius: 15px;
    background-color: rgb(251, 251, 251);
    align-self: stretch;
    text-align: center;
    margin-top: 7rem;
    border-width: 5px;
    text-decoration: none;
    box-shadow: 0px 8px #30024F;
    color:#30024F;
    font-family: "Berlin",sans-serif;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: linear-gradient(220deg, #9423C6 35%, #E04484 90%);

}
